body, .card, .jumbotron {
    background-color: rgb(95, 241, 224);
}

.card {
    padding-top: 25px;
    white-space: nowrap;
    border: 3px solid #ff7a59;
}

.card:hover {
    border: 3px dotted #ff7a59;
    color: #ff7a59;
    background: #fff;
    font-size: 125%;
}

#contentForm {
    background-color: rgb(69, 176, 163);
    margin-top: 20px;
    padding: 5px;
    position: relative;
    width: 60%;
    height: 60%;
    text-align: center;
    display: center;
    text-decoration: rgb(24, 58, 54);
}

#aboutUs { 
    text-align: center;
}

.modal-title {
    text-transform: uppercase;
}

.weatherCard {
    margin: auto;
    width: 250px;
    height: 125px;
    background-color: #2f9797;
    border-radius: 9px;
    box-shadow: 0px 31px 35px -26px #080c21;
}

.weatherCity {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.cityTemp {
    font-size: 25px;
    color: white;
    font-weight: 100;
}

.forecast {
    font-size: 15px;
    color:white;
    font-weight: 75;
}

@media only screen and (max-width: 420px) {
    #actTit {
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    .card {
        width: 250px;
    }
}

.btnHolder {
    text-align: right;
}

.goodTime {
    color: white;
    background-color: tomato;
    border: solid 2px tomato;
    border-radius: 8px;
    font-size: 18px;
}
