body, .card, .jumbotron {
    background-color: rgb(95, 241, 224);
}

.card {
    padding-top: 25px;
    white-space: nowrap;
}

/* Leave for now */
/* .card {
    border: 0cm;
}

#activityBtns {
    width: fit-content;
    height: 100px;
} */
/* Leave for now */