body, .card, .jumbotron {
    background-color: rgb(95, 241, 224);
}

.card {
    padding-top: 25px;
    white-space: nowrap;
    border: 3px solid #ff7a59;
}

.card:hover {
    border: 3px dotted #ff7a59;
    color: #ff7a59;
    background: #fff;
    font-size: 125%;
}

#contactContent {
    width: 50%;
    margin: auto;
}

.modal-title {
    text-transform: uppercase;
}
/* Leave for now */
/* .card {
    border: 0cm;
}

#activityBtns {
    width: fit-content;
    height: 100px;
} */
/* Leave for now */