body, .card, .jumbotron {
    background-color: rgb(95, 241, 224);
}

.card {
    padding-top: 25px;
    white-space: nowrap;
    border: 3px solid #ff7a59;
}

.card:hover {
    border: 3px dotted #ff7a59;
    color: #ff7a59;
    background: #fff;
    font-size: 125%;
}

#contentForm {
    background-color: rgb(69, 176, 163);
    margin-top: 20px;
    padding: 5px;
    position: relative;
    width: 60%;
    height: 60%;
    text-align: center;
    display: center;
    text-decoration: rgb(24, 58, 54);
}


.modal-title {
    text-transform: uppercase;
}
/* Leave for now */
/* .card {
    border: 0cm;
}

#activityBtns {
    width: fit-content;
    height: 100px;
} */
/* Leave for now */